{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-container">
    <!-- HEADER DESKTOP-->
    {% include 'userbar.html' %}
    <!-- HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <h2 class="title-1">Suggestion List</h2>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <!-- DATA TABLE-->
                        <div class="table-responsive m-b-40">
                            <table class="table table-borderless table-data3">
                                <thead>
                                    <tr>
                                        <th style="width: 5%;">#</th>
                                        <th style="width: 20%;">Chat ID</th>
                                        <th style="width: 45%;">Message</th>
                                        <th style="width: 20%;">Created at</th>
                                        <th style="width: 10%;">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for suggestion in suggestions %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ suggestion.chat_id }}</td>
                                        <td>{{ suggestion.message }}</td>
                                        <td>{{ suggestion.created_at }}</td>
                                        <td>
                                            <div class="table-data-feature">
                                               <a class="item" data-toggle="tooltip" href="{% url 'suggestion_delete' pk=suggestion.id %}" data-placement="top" title="Delete">
                                                    <i class="zmdi zmdi-delete text-danger"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="5" class="text-center text-muted">
                                            No suggestions available
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- END DATA TABLE-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT-->
    <!-- END PAGE CONTAINER-->
</div>
{% endblock %}
