{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-container">
    <!-- HEADER DESKTOP-->
    {% include 'userbar.html' %}
    <!-- HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <h2 class="title-1">Product List</h2>
                            <a class="au-btn au-btn-icon au-btn--blue" href="{% url 'product_create' %}">
                                <i class="zmdi zmdi-plus"></i>Add</a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <!-- DATA TABLE-->
                        <div class="table-responsive m-b-40">
                            <table class="table table-borderless table-data3">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Category</th>
                                        <th>Name (Uz)</th>
                                        <th>Price</th>
                                        <th>Image</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ product.category.name }}</td>
                                        <td>{{ product.name_uz }}</td>
                                        <td>{{ product.price }}</td>
                                        <td>
                                            {% if product.image %}
                                                <img src="{{ product.image.url }}" alt="{{ product.name_uz }}" style="height:50px; width:auto;">
                                            {% else %}
                                                No Image
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="table-data-feature">
                                                <a class="item" data-toggle="tooltip" href="{% url 'product_edit' pk=product.id %}" data-placement="top" title="Edit">
                                                    <i class="zmdi zmdi-edit text-warning"></i>
                                                </a>
                                                <a class="item" data-toggle="tooltip" href="{% url 'product_delete' pk=product.id %}" data-placement="top" title="Delete">
                                                    <i class="zmdi zmdi-delete text-danger"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- END DATA TABLE-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT-->
    <!-- END PAGE CONTAINER-->
</div>
{% endblock %}